@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap);

@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-twitter:before {
  content: "\e908";
}

._icon-pinterest:before {
  content: "\e909";
}

._icon-instagram:before {
  content: "\e90a";
}

._icon-facebook:before {
  content: "\e90b";
}

._icon-pencil:before {
  content: "\e900";
}

._icon-phone:before {
  content: "\e901";
}

._icon-email:before {
  content: "\e902";
}

._icon-user:before {
  content: "\e903";
}

._icon-comments:before {
  content: "\e904";
}

._icon-arrow:before {
  content: "\e905";
}

._icon-angle-down:before {
  content: "\e906";
}

._icon-angle-right:before {
  content: "\e907";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #ffffff;
  line-height: 1;
  font-family: "Roboto";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #1d1d1d;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  position: relative;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 87.5rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

._btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  color: #ffffff;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  z-index: 1;
}

@supports (font-size: clamp( 0.875rem , 0.838963964rem  +  0.1801801802vw , 1rem )) {
  ._btn {
    font-size: clamp( 0.875rem , 0.838963964rem  +  0.1801801802vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.838963964rem  +  0.1801801802vw , 1rem )) {
  ._btn {
    font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 69.375);
  }
}

@supports (padding-right: clamp( 0.625rem , 0.3547297297rem  +  1.3513513514vw , 1.5625rem )) {
  ._btn {
    padding-right: clamp( 0.625rem , 0.3547297297rem  +  1.3513513514vw , 1.5625rem );
  }
}

@supports not (padding-right: clamp( 0.625rem , 0.3547297297rem  +  1.3513513514vw , 1.5625rem )) {
  ._btn {
    padding-right: calc(0.625rem + 0.9375 * (100vw - 20rem) / 69.375);
  }
}

@supports (padding-left: clamp( 0.625rem , 0.3547297297rem  +  1.3513513514vw , 1.5625rem )) {
  ._btn {
    padding-left: clamp( 0.625rem , 0.3547297297rem  +  1.3513513514vw , 1.5625rem );
  }
}

@supports not (padding-left: clamp( 0.625rem , 0.3547297297rem  +  1.3513513514vw , 1.5625rem )) {
  ._btn {
    padding-left: calc(0.625rem + 0.9375 * (100vw - 20rem) / 69.375);
  }
}

@supports (padding-top: clamp( 0.625rem , 0.5349099099rem  +  0.4504504505vw , 0.9375rem )) {
  ._btn {
    padding-top: clamp( 0.625rem , 0.5349099099rem  +  0.4504504505vw , 0.9375rem );
  }
}

@supports not (padding-top: clamp( 0.625rem , 0.5349099099rem  +  0.4504504505vw , 0.9375rem )) {
  ._btn {
    padding-top: calc(0.625rem + 0.3125 * (100vw - 20rem) / 69.375);
  }
}

@supports (padding-bottom: clamp( 0.625rem , 0.5349099099rem  +  0.4504504505vw , 0.9375rem )) {
  ._btn {
    padding-bottom: clamp( 0.625rem , 0.5349099099rem  +  0.4504504505vw , 0.9375rem );
  }
}

@supports not (padding-bottom: clamp( 0.625rem , 0.5349099099rem  +  0.4504504505vw , 0.9375rem )) {
  ._btn {
    padding-bottom: calc(0.625rem + 0.3125 * (100vw - 20rem) / 69.375);
  }
}

._btn:before {
  content: "";
  height: 100%;
  width: 65%;
  position: absolute;
  top: 0;
  left: 0;
  background: #f13f3f;
  -webkit-transition: width 0.3s ease 0s;
  -o-transition: width 0.3s ease 0s;
  transition: width 0.3s ease 0s;
  z-index: -1;
}

._btn:hover:before {
  width: 100%;
}

._container {
  position: relative;
}

._container:before,
._container::after {
  content: "";
  position: absolute;
  top: 0;
  width: 0.0625rem;
  height: 100%;
  border-right: 0.0625rem solid rgba(255, 255, 255, 0.1);
  z-index: 1;
}

._container:before {
  left: 15px;
}

._container:after {
  right: 49.3571428571%;
}

._title {
  font-weight: 700;
  text-transform: uppercase;
}

@supports (font-size: clamp( 2rem , 1.6756756757rem  +  1.6216216216vw , 3.125rem )) {
  ._title {
    font-size: clamp( 2rem , 1.6756756757rem  +  1.6216216216vw , 3.125rem );
  }
}

@supports not (font-size: clamp( 2rem , 1.6756756757rem  +  1.6216216216vw , 3.125rem )) {
  ._title {
    font-size: calc(2rem + 1.125 * (100vw - 20rem) / 69.375);
  }
}

._before {
  position: relative;
}

@supports (padding-left: clamp( 0.625rem , 0.4448198198rem  +  0.9009009009vw , 1.25rem )) {
  ._before {
    padding-left: clamp( 0.625rem , 0.4448198198rem  +  0.9009009009vw , 1.25rem );
  }
}

@supports not (padding-left: clamp( 0.625rem , 0.4448198198rem  +  0.9009009009vw , 1.25rem )) {
  ._before {
    padding-left: calc(0.625rem + 0.625 * (100vw - 20rem) / 69.375);
  }
}

._before:before {
  content: "";
  width: 0.0625rem;
  position: absolute;
  left: 0;
  background: #f13f3f;
}

@supports (height: clamp( 1.875rem , 1.5146396396rem  +  1.8018018018vw , 3.125rem )) {
  ._before:before {
    height: clamp( 1.875rem , 1.5146396396rem  +  1.8018018018vw , 3.125rem );
  }
}

@supports not (height: clamp( 1.875rem , 1.5146396396rem  +  1.8018018018vw , 3.125rem )) {
  ._before:before {
    height: calc(1.875rem + 1.25 * (100vw - 20rem) / 69.375);
  }
}

@supports (top: clamp( 0.0000000625rem , -0.0900900096rem  +  0.4504503604vw , 0.3125rem )) {
  ._before:before {
    top: clamp( 0.0000000625rem , -0.0900900096rem  +  0.4504503604vw , 0.3125rem );
  }
}

@supports not (top: clamp( 0.0000000625rem , -0.0900900096rem  +  0.4504503604vw , 0.3125rem )) {
  ._before:before {
    top: calc(0.0000000625rem + 0.3124999375 * (100vw - 20rem) / 69.375);
  }
}

/*=============== SCROLL UP ===============*/

.scrollTop {
  position: fixed;
  right: 5%;
  bottom: -30%;
  background: #f13f3f;
  text-align: center;
  cursor: pointer;
  z-index: 5;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0.5;
}

@supports (width: clamp( 1.875rem , 1.5146396396rem  +  1.8018018018vw , 3.125rem )) {
  .scrollTop {
    width: clamp( 1.875rem , 1.5146396396rem  +  1.8018018018vw , 3.125rem );
  }
}

@supports not (width: clamp( 1.875rem , 1.5146396396rem  +  1.8018018018vw , 3.125rem )) {
  .scrollTop {
    width: calc(1.875rem + 1.25 * (100vw - 20rem) / 69.375);
  }
}

@supports (height: clamp( 1.875rem , 1.5146396396rem  +  1.8018018018vw , 3.125rem )) {
  .scrollTop {
    height: clamp( 1.875rem , 1.5146396396rem  +  1.8018018018vw , 3.125rem );
  }
}

@supports not (height: clamp( 1.875rem , 1.5146396396rem  +  1.8018018018vw , 3.125rem )) {
  .scrollTop {
    height: calc(1.875rem + 1.25 * (100vw - 20rem) / 69.375);
  }
}

.scrollTop:hover {
  opacity: 1;
}

.scrollTop:before {
  line-height: 1.5;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

@supports (font-size: clamp( 1.25rem , 0.9977477477rem  +  1.2612612613vw , 2.125rem )) {
  .scrollTop:before {
    font-size: clamp( 1.25rem , 0.9977477477rem  +  1.2612612613vw , 2.125rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 0.9977477477rem  +  1.2612612613vw , 2.125rem )) {
  .scrollTop:before {
    font-size: calc(1.25rem + 0.875 * (100vw - 20rem) / 69.375);
  }
}

.show-scroll {
  bottom: 1.25rem;
}

/*=============== SCROLL BAR ===============*/

::-webkit-scrollbar {
  width: 0.6rem;
  background: #414141;
}

::-webkit-scrollbar-thumb {
  background: #f13f3f;
}

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 3.75rem;
}

.header._scroll .header__wrapper {
  background-color: rgba(31, 31, 31, 0.8);
  -webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.8);
}

.header._scroll .header__body {
  min-height: 3.125rem;
}

.header__wrapper {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.375rem 5%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__body {
  background-color: #202020;
  -webkit-box-shadow: -1px 0px 10px -3px rgba(0, 0, 0, 0.75);
          box-shadow: -1px 0px 10px -3px rgba(0, 0, 0, 0.75);
  width: 18.75rem;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -100%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding-top: 6.25rem;
}

.menu-open .menu__body {
  right: 0;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 0.0625rem solid rgba(255, 255, 255, 0.1);
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 0.9375rem 2.5rem;
  border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.1);
}

.menu__link {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 90%;
          flex: 1 1 90%;
  font-size: 1.25rem;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.menu__link_sublist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #9b9b9b;
  line-height: 2.8;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__link_sublist:hover {
  color: #ffffff;
  padding-left: 0.625rem;
}

.menu__link_sublist:hover:before {
  opacity: 1;
}

.menu__link_sublist:before {
  color: #f13f3f;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin-right: 0.625rem;
}

.menu__link-active {
  color: #f13f3f;
}

.menu__arrow {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__arrow._spoller-active {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.menu__sublist {
  padding-top: 0.625rem;
}

.icon-menu {
  display: block;
  position: relative;
  width: 3.125rem;
  height: 1.5625rem;
  cursor: pointer;
  z-index: 5;
}

.icon-menu span,
.icon-menu::before,
.icon-menu::after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  right: 0;
  position: absolute;
  width: 2.5rem;
  height: 0.1875rem;
  background-color: #f13f3f;
}

.icon-menu::before {
  width: 100%;
  top: 0;
}

.icon-menu::after {
  width: 1.875rem;
  bottom: 0;
}

.icon-menu span {
  top: calc(50% - 0.0625rem);
}

.menu-open .icon-menu span {
  width: 0;
}

.menu-open .icon-menu::before,
.menu-open .icon-menu::after {
  width: 100%;
}

.menu-open .icon-menu::before {
  top: calc(50% - 0.0625rem);
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu-open .icon-menu::after {
  bottom: calc(50% - 0.0625rem);
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (padding-top: clamp( 1.875rem , 1.5146396396rem  +  1.8018018018vw , 3.125rem )) {
  .footer__wrapper {
    padding-top: clamp( 1.875rem , 1.5146396396rem  +  1.8018018018vw , 3.125rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 1.5146396396rem  +  1.8018018018vw , 3.125rem )) {
  .footer__wrapper {
    padding-top: calc(1.875rem + 1.25 * (100vw - 20rem) / 69.375);
  }
}

@supports (padding-bottom: clamp( 1.875rem , 1.5146396396rem  +  1.8018018018vw , 3.125rem )) {
  .footer__wrapper {
    padding-bottom: clamp( 1.875rem , 1.5146396396rem  +  1.8018018018vw , 3.125rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.5146396396rem  +  1.8018018018vw , 3.125rem )) {
  .footer__wrapper {
    padding-bottom: calc(1.875rem + 1.25 * (100vw - 20rem) / 69.375);
  }
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@supports (gap: clamp( 1.25rem , 0.5292792793rem  +  3.6036036036vw , 3.75rem )) {
  .footer__links {
    gap: clamp( 1.25rem , 0.5292792793rem  +  3.6036036036vw , 3.75rem );
  }
}

@supports not (gap: clamp( 1.25rem , 0.5292792793rem  +  3.6036036036vw , 3.75rem )) {
  .footer__links {
    gap: calc(1.25rem + 2.5 * (100vw - 20rem) / 69.375);
  }
}

.footer__link {
  color: #ffffff;
  font-size: 1.125rem;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  padding: 0.3125rem;
}

.footer__link:hover {
  color: #f13f3f;
}

.footer__link-active {
  color: #f13f3f;
}

/*==================== MAIN ====================*/

.main {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(37%, rgb(31, 31, 31)), to(rgb(26, 26, 26)));
  background: -o-linear-gradient(top, rgb(31, 31, 31) 37%, rgb(26, 26, 26) 100%);
  background: linear-gradient(180deg, rgb(31, 31, 31) 37%, rgb(26, 26, 26) 100%);
}

@supports (padding-top: clamp( 5rem , 4.6396396396rem  +  1.8018018018vw , 6.25rem )) {
  .main__wrapper {
    padding-top: clamp( 5rem , 4.6396396396rem  +  1.8018018018vw , 6.25rem );
  }
}

@supports not (padding-top: clamp( 5rem , 4.6396396396rem  +  1.8018018018vw , 6.25rem )) {
  .main__wrapper {
    padding-top: calc(5rem + 1.25 * (100vw - 20rem) / 69.375);
  }
}

@supports (padding-bottom: clamp( 1.875rem , 0.9740990991rem  +  4.5045045045vw , 5rem )) {
  .main__wrapper {
    padding-bottom: clamp( 1.875rem , 0.9740990991rem  +  4.5045045045vw , 5rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.9740990991rem  +  4.5045045045vw , 5rem )) {
  .main__wrapper {
    padding-bottom: calc(1.875rem + 3.125 * (100vw - 20rem) / 69.375);
  }
}

.main__content {
  position: relative;
  z-index: 2;
}

.main__title {
  color: #f13f3f;
  text-transform: uppercase;
}

@supports (font-size: clamp( 4.5rem , 2.6981981982rem  +  9.009009009vw , 10.75rem )) {
  .main__title {
    font-size: clamp( 4.5rem , 2.6981981982rem  +  9.009009009vw , 10.75rem );
  }
}

@supports not (font-size: clamp( 4.5rem , 2.6981981982rem  +  9.009009009vw , 10.75rem )) {
  .main__title {
    font-size: calc(4.5rem + 6.25 * (100vw - 20rem) / 69.375);
  }
}

@supports (margin-left: clamp( -0.875rem , -0.2308558559rem  +  -0.7207207207vw , -0.375rem )) {
  .main__title {
    margin-left: clamp( -0.875rem , -0.2308558559rem  +  -0.7207207207vw , -0.375rem );
  }
}

@supports not (margin-left: clamp( -0.875rem , -0.2308558559rem  +  -0.7207207207vw , -0.375rem )) {
  .main__title {
    margin-left: calc(-0.375rem + -0.5 * (100vw - 20rem) / 69.375);
  }
}

.main__title span {
  display: inline-block;
  color: #ffffff;
  -webkit-transform: rotate(-90deg) translate(25%, -45%);
      -ms-transform: rotate(-90deg) translate(25%, -45%);
          transform: rotate(-90deg) translate(25%, -45%);
}

@supports (font-size: clamp( 2.125rem , 1.2961711712rem  +  4.1441441441vw , 5rem )) {
  .main__title span {
    font-size: clamp( 2.125rem , 1.2961711712rem  +  4.1441441441vw , 5rem );
  }
}

@supports not (font-size: clamp( 2.125rem , 1.2961711712rem  +  4.1441441441vw , 5rem )) {
  .main__title span {
    font-size: calc(2.125rem + 2.875 * (100vw - 20rem) / 69.375);
  }
}

@supports (margin-left: clamp( 1.25rem , 0.8896396396rem  +  1.8018018018vw , 2.5rem )) {
  .main__title span {
    margin-left: clamp( 1.25rem , 0.8896396396rem  +  1.8018018018vw , 2.5rem );
  }
}

@supports not (margin-left: clamp( 1.25rem , 0.8896396396rem  +  1.8018018018vw , 2.5rem )) {
  .main__title span {
    margin-left: calc(1.25rem + 1.25 * (100vw - 20rem) / 69.375);
  }
}

.main__subtitle {
  text-transform: uppercase;
}

@supports (font-size: clamp( 2.25rem , 1.5292792793rem  +  3.6036036036vw , 4.75rem )) {
  .main__subtitle {
    font-size: clamp( 2.25rem , 1.5292792793rem  +  3.6036036036vw , 4.75rem );
  }
}

@supports not (font-size: clamp( 2.25rem , 1.5292792793rem  +  3.6036036036vw , 4.75rem )) {
  .main__subtitle {
    font-size: calc(2.25rem + 2.5 * (100vw - 20rem) / 69.375);
  }
}

.main__subtitle:not(:last-child) {
  margin-bottom: 0.6578947368em;
}

.main__description {
  color: #9b9b9b;
  line-height: 1.3;
}

@supports (font-size: clamp( 1rem , 0.9279279279rem  +  0.3603603604vw , 1.25rem )) {
  .main__description {
    font-size: clamp( 1rem , 0.9279279279rem  +  0.3603603604vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.9279279279rem  +  0.3603603604vw , 1.25rem )) {
  .main__description {
    font-size: calc(1rem + 0.25 * (100vw - 20rem) / 69.375);
  }
}

.main__description:not(:last-child) {
  margin-bottom: 3em;
}

@supports (margin-bottom: clamp( 3.125rem , 2.9448198198rem  +  0.9009009009vw , 3.75rem )) {
  .main__link {
    margin-bottom: clamp( 3.125rem , 2.9448198198rem  +  0.9009009009vw , 3.75rem );
  }
}

@supports not (margin-bottom: clamp( 3.125rem , 2.9448198198rem  +  0.9009009009vw , 3.75rem )) {
  .main__link {
    margin-bottom: calc(3.125rem + 0.625 * (100vw - 20rem) / 69.375);
  }
}

.main__img {
  position: absolute;
  bottom: 0;
}

@supports (max-width: clamp( 16.25rem , 13.3671171171rem  +  14.4144144144vw , 26.25rem )) {
  .main__img {
    max-width: clamp( 16.25rem , 13.3671171171rem  +  14.4144144144vw , 26.25rem );
  }
}

@supports not (max-width: clamp( 16.25rem , 13.3671171171rem  +  14.4144144144vw , 26.25rem )) {
  .main__img {
    max-width: calc(16.25rem + 10 * (100vw - 20rem) / 69.375);
  }
}

@supports (right: clamp( 1.875rem , -2.088963964rem  +  19.8198198198vw , 15.625rem )) {
  .main__img {
    right: clamp( 1.875rem , -2.088963964rem  +  19.8198198198vw , 15.625rem );
  }
}

@supports not (right: clamp( 1.875rem , -2.088963964rem  +  19.8198198198vw , 15.625rem )) {
  .main__img {
    right: calc(1.875rem + 13.75 * (100vw - 20rem) / 69.375);
  }
}

.main__img img {
  max-width: 100%;
  height: auto;
}

.main__contacts {
  position: relative;
  z-index: 2;
  max-width: 34.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: #f13f3f;
  font-size: 0.9375rem;
  margin: 0 auto;
}

.main__call a {
  color: #ffffff;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  margin-left: 0.9375rem;
}

.main__call a:hover {
  color: #f13f3f;
}

.main__hours span {
  color: #ffffff;
  margin-left: 0.9375rem;
}

/*==================== ABOUT ====================*/

.about__wrapper {
  display: -ms-grid;
  display: grid;
  gap: 1.875rem;
}

@supports (padding-top: clamp( 1.875rem , 0.6137387387rem  +  6.3063063063vw , 6.25rem )) {
  .about__wrapper {
    padding-top: clamp( 1.875rem , 0.6137387387rem  +  6.3063063063vw , 6.25rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 0.6137387387rem  +  6.3063063063vw , 6.25rem )) {
  .about__wrapper {
    padding-top: calc(1.875rem + 4.375 * (100vw - 20rem) / 69.375);
  }
}

@supports (padding-bottom: clamp( 1.875rem , 1.5146396396rem  +  1.8018018018vw , 3.125rem )) {
  .about__wrapper {
    padding-bottom: clamp( 1.875rem , 1.5146396396rem  +  1.8018018018vw , 3.125rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.5146396396rem  +  1.8018018018vw , 3.125rem )) {
  .about__wrapper {
    padding-bottom: calc(1.875rem + 1.25 * (100vw - 20rem) / 69.375);
  }
}

.about__images {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9375rem;
}

.about__image {
  width: 100%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.about__image img {
  width: 100%;
  height: auto;
}

.about__subtitle {
  display: none;
}

.about__title:not(:last-child) {
  margin-bottom: 0.9em;
}

.about__text {
  font-size: 1.125rem;
  line-height: 1.4;
}

.about__text:not(:last-child) {
  margin-bottom: 1.1111111111em;
}

.about__text-grey {
  color: #9b9b9b;
}

.about__sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/*==================== WORK ====================*/

@supports (padding-top: clamp( 1.875rem , 1.5146396396rem  +  1.8018018018vw , 3.125rem )) {
  .works__wrapper {
    padding-top: clamp( 1.875rem , 1.5146396396rem  +  1.8018018018vw , 3.125rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 1.5146396396rem  +  1.8018018018vw , 3.125rem )) {
  .works__wrapper {
    padding-top: calc(1.875rem + 1.25 * (100vw - 20rem) / 69.375);
  }
}

@supports (padding-bottom: clamp( 1.875rem , 1.5146396396rem  +  1.8018018018vw , 3.125rem )) {
  .works__wrapper {
    padding-bottom: clamp( 1.875rem , 1.5146396396rem  +  1.8018018018vw , 3.125rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.5146396396rem  +  1.8018018018vw , 3.125rem )) {
  .works__wrapper {
    padding-bottom: calc(1.875rem + 1.25 * (100vw - 20rem) / 69.375);
  }
}

.works__title:not(:last-child) {
  margin-bottom: 0.9em;
}

.works__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17.5rem, 1fr));
  gap: 1.875rem;
}

.works__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.works__image img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.item-work {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4.0625rem 1fr;
  grid-template-columns: 4.0625rem 1fr;
  gap: 0.9375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-work__img {
  width: 4.0625rem;
  height: 4.0625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item-work__title {
  font-weight: 700;
  text-transform: uppercase;
}

@supports (font-size: clamp( 1.125rem , 1.0168918919rem  +  0.5405405405vw , 1.5rem )) {
  .item-work__title {
    font-size: clamp( 1.125rem , 1.0168918919rem  +  0.5405405405vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 1.0168918919rem  +  0.5405405405vw , 1.5rem )) {
  .item-work__title {
    font-size: calc(1.125rem + 0.375 * (100vw - 20rem) / 69.375);
  }
}

.item-work__text {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/span 2;
  color: #9b9b9b;
  font-size: 1.125rem;
  line-height: 1.4;
}

/*==================== STAFF ====================*/

.staff__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.staff__title:not(:last-child) {
  margin-bottom: 0.9em;
}

.staff__slider {
  position: relative;
  z-index: 2;
}

.slide-staff__body {
  position: relative;
}

.slide-staff__body::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0.1875rem;
  background: #f13f3f;
  z-index: 2;
}

.slide-staff__img {
  padding-bottom: 114.2857142857%;
}

.slide-staff__img img {
  -o-object-position: top center;
     object-position: top center;
}

.slide-staff__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1d1d1d;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding: 1.875rem;
}

.slide-staff__title {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1.2px;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.slide-staff__title:not(:last-child) {
  margin-bottom: 0.4166666667em;
}

.slide-staff__text {
  color: #9b9b9b;
  font-size: 1rem;
  line-height: 1.6;
}

.slide-staff__text:not(:last-child) {
  margin-bottom: 1.25em;
}

.slide-staff__socials {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.social-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
}

.social-slide__link {
  color: #f13f3f;
  font-size: 1.875rem;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

/*==================== TESTIMONIALS ====================*/

@supports (padding-top: clamp( 1.875rem , 0.6137387387rem  +  6.3063063063vw , 6.25rem )) {
  .testimonials__wrapper {
    padding-top: clamp( 1.875rem , 0.6137387387rem  +  6.3063063063vw , 6.25rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 0.6137387387rem  +  6.3063063063vw , 6.25rem )) {
  .testimonials__wrapper {
    padding-top: calc(1.875rem + 4.375 * (100vw - 20rem) / 69.375);
  }
}

@supports (padding-bottom: clamp( 1.875rem , 1.5146396396rem  +  1.8018018018vw , 3.125rem )) {
  .testimonials__wrapper {
    padding-bottom: clamp( 1.875rem , 1.5146396396rem  +  1.8018018018vw , 3.125rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.5146396396rem  +  1.8018018018vw , 3.125rem )) {
  .testimonials__wrapper {
    padding-bottom: calc(1.875rem + 1.25 * (100vw - 20rem) / 69.375);
  }
}

.testimonials__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17.5rem, 1fr));
}

@supports (gap: clamp( 1.25rem , 0.8896396396rem  +  1.8018018018vw , 2.5rem )) {
  .testimonials__items {
    gap: clamp( 1.25rem , 0.8896396396rem  +  1.8018018018vw , 2.5rem );
  }
}

@supports not (gap: clamp( 1.25rem , 0.8896396396rem  +  1.8018018018vw , 2.5rem )) {
  .testimonials__items {
    gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 69.375);
  }
}

@supports (padding-left: clamp( 0.625rem , 0.4448198198rem  +  0.9009009009vw , 1.25rem )) {
  .testimonials__items {
    padding-left: clamp( 0.625rem , 0.4448198198rem  +  0.9009009009vw , 1.25rem );
  }
}

@supports not (padding-left: clamp( 0.625rem , 0.4448198198rem  +  0.9009009009vw , 1.25rem )) {
  .testimonials__items {
    padding-left: calc(0.625rem + 0.625 * (100vw - 20rem) / 69.375);
  }
}

.item-testimonial {
  max-width: 37.5rem;
}

@supports (padding-left: clamp( 0.0000000625rem , -0.54054046rem  +  2.7027026126vw , 1.875rem )) {
  .item-testimonial {
    padding-left: clamp( 0.0000000625rem , -0.54054046rem  +  2.7027026126vw , 1.875rem );
  }
}

@supports not (padding-left: clamp( 0.0000000625rem , -0.54054046rem  +  2.7027026126vw , 1.875rem )) {
  .item-testimonial {
    padding-left: calc(0.0000000625rem + 1.8749999375 * (100vw - 20rem) / 69.375);
  }
}

@supports (padding-top: clamp( 1.25rem , 0.7094594595rem  +  2.7027027027vw , 3.125rem )) {
  .item-testimonial {
    padding-top: clamp( 1.25rem , 0.7094594595rem  +  2.7027027027vw , 3.125rem );
  }
}

@supports not (padding-top: clamp( 1.25rem , 0.7094594595rem  +  2.7027027027vw , 3.125rem )) {
  .item-testimonial {
    padding-top: calc(1.25rem + 1.875 * (100vw - 20rem) / 69.375);
  }
}

@supports (padding-bottom: clamp( 1.25rem , 0.7094594595rem  +  2.7027027027vw , 3.125rem )) {
  .item-testimonial {
    padding-bottom: clamp( 1.25rem , 0.7094594595rem  +  2.7027027027vw , 3.125rem );
  }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.7094594595rem  +  2.7027027027vw , 3.125rem )) {
  .item-testimonial {
    padding-bottom: calc(1.25rem + 1.875 * (100vw - 20rem) / 69.375);
  }
}

.item-testimonial__icon {
  color: rgba(255, 255, 255, 0.1);
  font-size: 76px;
}

@supports (margin-bottom: clamp( 1.25rem , 0.8896396396rem  +  1.8018018018vw , 2.5rem )) {
  .item-testimonial__icon:not(:last-child) {
    margin-bottom: clamp( 1.25rem , 0.8896396396rem  +  1.8018018018vw , 2.5rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.8896396396rem  +  1.8018018018vw , 2.5rem )) {
  .item-testimonial__icon:not(:last-child) {
    margin-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 69.375);
  }
}

.item-testimonial__text {
  color: rgba(255, 255, 255, 0.8);
  line-height: 1.7;
}

.item-testimonial__text:not(:last-child) {
  margin-bottom: 1.875em;
}

.item-testimonial__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5.5625rem 1fr;
  grid-template-columns: 5.5625rem 1fr;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}

.item-testimonial__img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/span 2;
  width: 5.5625rem;
  height: 5.5625rem;
  border-radius: 50%;
  overflow: hidden;
}

.item-testimonial__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.item-testimonial__title {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-weight: 700;
  letter-spacing: 1.2px;
}

@supports (font-size: clamp( 1.25rem , 1.1779279279rem  +  0.3603603604vw , 1.5rem )) {
  .item-testimonial__title {
    font-size: clamp( 1.25rem , 1.1779279279rem  +  0.3603603604vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 1.1779279279rem  +  0.3603603604vw , 1.5rem )) {
  .item-testimonial__title {
    font-size: calc(1.25rem + 0.25 * (100vw - 20rem) / 69.375);
  }
}

.item-testimonial__title:not(:last-child) {
  margin-bottom: 0.4166666667em;
}

.item-testimonial__subtitle {
  -ms-flex-item-align: start;
      align-self: flex-start;
  color: #9b9b9b;
  font-size: 1rem;
  line-height: 1.6;
}

/*==================== GALLERY ====================*/

.gallery__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@supports (padding-bottom: clamp( 1.875rem , 1.5146396396rem  +  1.8018018018vw , 3.125rem )) {
  .gallery__content {
    padding-bottom: clamp( 1.875rem , 1.5146396396rem  +  1.8018018018vw , 3.125rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.5146396396rem  +  1.8018018018vw , 3.125rem )) {
  .gallery__content {
    padding-bottom: calc(1.875rem + 1.25 * (100vw - 20rem) / 69.375);
  }
}

.gallery__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@supports (font-size: clamp( 0.875rem , 0.838963964rem  +  0.1801801802vw , 1rem )) {
  .gallery__link {
    font-size: clamp( 0.875rem , 0.838963964rem  +  0.1801801802vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.838963964rem  +  0.1801801802vw , 1rem )) {
  .gallery__link {
    font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 69.375);
  }
}

@supports ((-moz-column-gap: clamp( 0.3125rem , -0.0478603604rem  +  1.8018018018vw , 1.5625rem )) or (column-gap: clamp( 0.3125rem , -0.0478603604rem  +  1.8018018018vw , 1.5625rem ))) {
  .gallery__link {
    -webkit-column-gap: clamp( 0.3125rem , -0.0478603604rem  +  1.8018018018vw , 1.5625rem );
       -moz-column-gap: clamp( 0.3125rem , -0.0478603604rem  +  1.8018018018vw , 1.5625rem );
            column-gap: clamp( 0.3125rem , -0.0478603604rem  +  1.8018018018vw , 1.5625rem );
  }
}

@supports not ((-moz-column-gap: clamp( 0.3125rem , -0.0478603604rem  +  1.8018018018vw , 1.5625rem )) or (column-gap: clamp( 0.3125rem , -0.0478603604rem  +  1.8018018018vw , 1.5625rem ))) {
  .gallery__link {
    -webkit-column-gap: calc(0.3125rem + 1.25 * (100vw - 20rem) / 69.375);
       -moz-column-gap: calc(0.3125rem + 1.25 * (100vw - 20rem) / 69.375);
            column-gap: calc(0.3125rem + 1.25 * (100vw - 20rem) / 69.375);
  }
}

.gallery__link::before {
  color: #f13f3f;
  line-height: 1.2;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@supports (font-size: clamp( 0.75rem , 0.6779279279rem  +  0.3603603604vw , 1rem )) {
  .gallery__link::before {
    font-size: clamp( 0.75rem , 0.6779279279rem  +  0.3603603604vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.75rem , 0.6779279279rem  +  0.3603603604vw , 1rem )) {
  .gallery__link::before {
    font-size: calc(0.75rem + 0.25 * (100vw - 20rem) / 69.375);
  }
}

.gallery__slider {
  position: relative;
}

.gallery__arrows {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (3rem)[2];
  grid-template-columns: repeat(2, 3rem);
  -webkit-column-gap: 0.5rem;
     -moz-column-gap: 0.5rem;
          column-gap: 0.5rem;
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  pointer-events: none;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
}

.slider-arrow {
  height: 3rem;
  font-size: 1.125rem;
  pointer-events: auto;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.slider-arrow_prev {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.slide-gallery {
  overflow: hidden;
}

.slide-gallery__img {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.slide-gallery__img img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

/*==================== CALLBACK ====================*/

@supports (padding-top: clamp( 1.875rem , 0.6137387387rem  +  6.3063063063vw , 6.25rem )) {
  .callback__wrapper {
    padding-top: clamp( 1.875rem , 0.6137387387rem  +  6.3063063063vw , 6.25rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 0.6137387387rem  +  6.3063063063vw , 6.25rem )) {
  .callback__wrapper {
    padding-top: calc(1.875rem + 4.375 * (100vw - 20rem) / 69.375);
  }
}

@supports (padding-bottom: clamp( 1.875rem , 1.5146396396rem  +  1.8018018018vw , 3.125rem )) {
  .callback__wrapper {
    padding-bottom: clamp( 1.875rem , 1.5146396396rem  +  1.8018018018vw , 3.125rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.5146396396rem  +  1.8018018018vw , 3.125rem )) {
  .callback__wrapper {
    padding-bottom: calc(1.875rem + 1.25 * (100vw - 20rem) / 69.375);
  }
}

.callback__img {
  display: none;
}

.callback__title:not(:last-child) {
  margin-bottom: 0.9em;
}

.callback__text {
  color: #9b9b9b;
  font-size: 1.125rem;
}

.callback__text:not(:last-child) {
  margin-bottom: 1.6666666667em;
}

.callback__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5625rem;
}

.callback__inp {
  position: relative;
}

.callback__inp::before {
  position: absolute;
  top: 0;
  color: #f13f3f;
  font-size: 20px;
  line-height: 2.3;
}

@supports (left: clamp( 0.625rem , 0.4448198198rem  +  0.9009009009vw , 1.25rem )) {
  .callback__inp::before {
    left: clamp( 0.625rem , 0.4448198198rem  +  0.9009009009vw , 1.25rem );
  }
}

@supports not (left: clamp( 0.625rem , 0.4448198198rem  +  0.9009009009vw , 1.25rem )) {
  .callback__inp::before {
    left: calc(0.625rem + 0.625 * (100vw - 20rem) / 69.375);
  }
}

.callback__inp .form__error {
  position: absolute;
  bottom: -15px;
  font-size: 0.625rem;
  color: #e64444;
}

.callback__input {
  width: 100%;
  background: none;
  color: #a1a1a1;
  border: 0.0625rem solid #a1a1a1;
  outline: none;
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
  padding-right: 0.9375rem;
}

@supports (padding-left: clamp( 2.5rem , 2.3198198198rem  +  0.9009009009vw , 3.125rem )) {
  .callback__input {
    padding-left: clamp( 2.5rem , 2.3198198198rem  +  0.9009009009vw , 3.125rem );
  }
}

@supports not (padding-left: clamp( 2.5rem , 2.3198198198rem  +  0.9009009009vw , 3.125rem )) {
  .callback__input {
    padding-left: calc(2.5rem + 0.625 * (100vw - 20rem) / 69.375);
  }
}

.callback textarea {
  min-height: 12.5rem;
  resize: none;
  overflow: auto;
}

.callback__btn {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 29.99875em) {
  .about__image {
    max-width: 16.875rem;
  }
}

@media (min-width: 47.99875em) {
  .about__wrapper {
    -ms-grid-columns: 1fr 49.3571428571%;
    grid-template-columns: 1fr 49.3571428571%;
  }

  .item-work {
    padding: 0.625rem;
  }

  .callback__wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 49.4285714286%;
    grid-template-columns: 1fr 49.4285714286%;
    gap: 1.25rem;
  }

  .callback__img {
    display: inline-block;
    -ms-grid-column-align: center;
        justify-self: center;
  }

  .callback__img img {
    max-width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (min-width: 61.99875em) {
  .header._scroll .header__body {
    min-height: 4.375rem;
  }

  .works__wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 49.4285714286%;
    grid-template-columns: 1fr 49.4285714286%;
    gap: 1.25rem;
  }

  .slide-staff__content {
    position: absolute;
    left: 0;
    bottom: -3.75rem;
  }

  .slide-staff__socials {
    opacity: 0;
  }

  .callback__img {
    -webkit-transform: translateY(-80px);
        -ms-transform: translateY(-80px);
            transform: translateY(-80px);
  }
}

@media (min-width: 66.375em) {
  .about__images:before {
    content: "";
    width: 3.125rem;
    height: 0.0625rem;
    position: absolute;
    top: 0;
    left: 17.8125rem;
    background: #f13f3f;
  }
}

@media (min-width: 89.375em) {
  .about__subtitle {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
    color: #9b9b9b;
    font-size: 1.375rem;
    font-weight: 700;
    text-transform: uppercase;
  }
}

@media (max-width: 66.375em) {
  .about__images {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 61.99875em) {
  .footer__logo {
    margin: 0 auto;
  }

  .main__img {
    opacity: 0.5;
  }

  .works__content:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .works__image {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 47.99875em) {
  ._container:after {
    display: none;
  }

  .footer__links {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 29.99875em) {
  .about__images {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (any-hover: hover) {
  .header._scroll .header__wrapper:hover {
    background-color: rgba(31, 31, 31, 0.9);
  }

  .menu__link:hover {
    color: #f13f3f;
  }

  .slide-staff:hover .slide-staff__title {
    color: #f13f3f;
  }

  .slide-staff:hover .slide-staff__content {
    bottom: 0;
  }

  .slide-staff:hover .slide-staff__socials {
    opacity: 1;
  }

  .social-slide__link:hover {
    color: #ffffff;
  }

  .gallery__link:hover {
    color: #f13f3f;
    gap: 1.875rem;
  }

  .gallery__link:hover::before {
    -webkit-transform: scaleY(-1);
        -ms-transform: scaleY(-1);
            transform: scaleY(-1);
  }

  .slider-arrow:hover {
    color: #f13f3f;
  }

  .slide-gallery__img:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}