._btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	position: relative;
	color: $mainColor;
	@include adaptiveValue("font-size", 16, 14);
	font-weight: 500;
	text-transform: uppercase;
	text-align: center;
	@include adaptiveValue("padding-right", 25, 10);
	@include adaptiveValue("padding-left", 25, 10);
	@include adaptiveValue("padding-top", 15, 10);
	@include adaptiveValue("padding-bottom", 15, 10);
	z-index: 1;
	&:before {
		content: "";
		height: 100%;
		width: 65%;
		position: absolute;
		top: 0;
		left: 0;
		background: $colorRed;
		transition: width 0.3s ease 0s;
		z-index: -1;
	}
	&:hover {
		&:before {
			width: 100%;
		}
	}
}
._container {
	&:before,
	&::after {
		content: "";
		position: absolute;
		top: 0;
		width: rem(1);
		height: 100%;
		border-right: rem(1) solid rgba(255, 255, 255, 0.1);
		z-index: 0;
	}
	&:before {
		left: 0;
	}
	&:after {
		right: percent(693, 1400);
	}
	@media (max-width: $mobile) {
		&:after {
			display: none;
		}
	}
}
._title {
	@include adaptiveValue("font-size", 50, 32);
	font-weight: 700;
	text-transform: uppercase;
}
._before {
	position: relative;
	@include adaptiveValue("padding-left", 20, 10);
	&:before {
		content: "";
		width: rem(1);
		@include adaptiveValue("height", 50, 30);
		position: absolute;
		left: 0;
		@include adaptiveValue("top", 5, 0);
		background: $colorRed;
	}
}
.scrollTop {
	@include adaptiveValue("width", 50, 30);
	@include adaptiveValue("height", 50, 30);
	position: fixed;
	right: 2%;
	bottom: rem(20);
	background: $colorRed;
	text-align: center;
	cursor: pointer;
	z-index: 5;
	transition: background 0.3s ease 0s;
	&:hover {
		background: #c03131;
	}
	&:before {
		@include adaptiveValue("font-size", 34, 20);
		line-height: 1.5;
		transform: rotate(180deg);
	}
}
