.footer {
	// .footer__container
	&__container {
	}
	// .footer__wrapper
	&__wrapper {
		@include adaptiveValue("padding-top", 50, 30);
		@include adaptiveValue("padding-bottom", 50, 30);
		display: flex;
		flex-wrap: wrap;
		gap: rem(20);
		align-items: center;
	}
	// .footer__logo
	&__logo {
		@media (max-width: $tablet) {
			margin: 0 auto;
		}
	}
	// .footer__links
	&__links {
		display: flex;
		flex: 1 1 auto;
		justify-content: flex-end;
		@include adaptiveValue("gap", 60, 20);
		@media (max-width: $mobile) {
			flex-wrap: wrap;
			justify-content: center;
		}
	}
	// .footer__link
	&__link {
		color: $mainColor;
		font-size: rem(18);
		transition: color 0.3s ease 0s;
		padding: rem(5);
		&:hover {
			color: $colorRed;
		}
	}
	// .footer__link-active
	&__link-active {
		color: $colorRed;
	}
}
