/*==================== MAIN ====================*/
.main {
	position: relative;
	background: linear-gradient(180deg, rgba(31, 31, 31, 1) 37%, rgba(26, 26, 26, 1) 100%);
	@include adaptiveValue("padding-top", 100, 80);
	@include adaptiveValue("padding-bottom", 80, 30);
	// .main__container
	&__container {
	}
	// .main__content
	&__content {
		position: relative;
		z-index: 2;
	}
	// .main__title
	&__title {
		color: $colorRed;
		text-transform: uppercase;
		@include adaptiveValue("font-size", 172, 72);
		@include adaptiveValue("margin-left", -14, -6);
		& span {
			display: inline-block;
			color: $mainColor;
			@include adaptiveValue("font-size", 80, 34);
			transform: rotate(-90deg) translate(25%, -45%);
			@include adaptiveValue("margin-left", 40, 20);
		}
	}
	// .main__subtitle
	&__subtitle {
		text-transform: uppercase;
		@include adaptiveValue("font-size", 76, 36);
		&:not(:last-child) {
			margin-bottom: em(50, 76);
		}
	}
	// .main__description
	&__description {
		color: $colorText;
		@include adaptiveValue("font-size", 20, 16);
		line-height: 1.3;
		&:not(:last-child) {
			margin-bottom: em(60, 20);
		}
	}
	// .main__link
	&__link {
		@include adaptiveValue("margin-bottom", 60, 50);
	}
	// .main__img
	&__img {
		@include adaptiveValue("max-width", 420, 260);
		position: absolute;
		bottom: 0;
		@include adaptiveValue("right", 250, 30);
		& img {
			max-width: 100%;
			height: auto;
		}
		@media (max-width: $tablet) {
			opacity: 0.5;
		}
	}
	// .main__contacts
	&__contacts {
		position: relative;
		z-index: 2;
		max-width: rem(550);
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		color: $colorRed;
		font-size: rem(15);
		margin: 0 auto;
	}
	// .main__call
	&__call {
		& a {
			color: $mainColor;
			transition: color 0.3s ease 0s;
			margin-left: rem(15);
			&:hover {
				color: $colorRed;
			}
		}
	}
	// .main__hours
	&__hours {
		& span {
			color: #ffffff;
			margin-left: rem(15);
		}
	}
}
/*==================== ABOUT ====================*/
.about {
	position: relative;
	@include adaptiveValue("padding-top", 100, 30);
	@include adaptiveValue("padding-bottom", 50, 30);
	// .about__container
	&__container {
		display: flex;
		flex-wrap: wrap;
		column-gap: rem(20);
		row-gap: rem(40);
	}
	// .about__images
	&__images {
		position: relative;
		display: flex;
		flex: 1 1 auto;
		gap: rem(15);
		@media (max-width: $mobileSmall) {
			flex-wrap: wrap;
		}
		@media (max-width: em(1062)) {
			justify-content: space-around;
		}
		@media (min-width: em(1062)) {
			&:before {
				content: "";
				width: rem(50);
				height: rem(1);
				position: absolute;
				top: 0;
				left: rem(285);
				background: $colorRed;
			}
		}
	}
	// .about__image
	&__image {
		width: 100%;
		@media (min-width: $mobileSmall) {
			max-width: rem(270);
		}
		& img {
			width: 100%;
			height: auto;
		}
	}
	// .about__subtitle
	&__subtitle {
		display: none;
		@media (min-width: $pc) {
			display: block;
			position: absolute;
			bottom: 0;
			right: rem(80);
			transform: rotate(-90deg);
			color: $colorText;
			font-size: rem(22);
			font-weight: 700;
			text-transform: uppercase;
		}
	}
	// .about__content
	&__content {
		@media (min-width: em(1062)) {
			flex: 0 1 percent(620, 1400);
		}
	}
	// .about__title
	&__title {
		@include adaptiveValue("font-size", 54, 30);
		text-transform: uppercase;
		&:not(:last-child) {
			margin-bottom: em(45, 54);
		}
	}
	// .about__text
	&__text {
		font-size: rem(18);
		line-height: 1.4;
		&:not(:last-child) {
			margin-bottom: em(20, 18);
		}
	}
	// .about__text-grey
	&__text-grey {
		color: $colorText;
	}
	// .about__sign
	&__sign {
		display: flex;
		justify-content: flex-end;
	}
}
/*==================== WORK ====================*/
.works {
	position: relative;
	@include adaptiveValue("padding-top", 50, 30);
	@include adaptiveValue("padding-bottom", 50, 30);
	// .works__container
	&__container {
		@media (min-width: $tablet) {
			display: grid;
			grid-template-columns: 1fr rem(620);
			// grid-template-columns: repeat(auto-fit, minmax(rem(320), 1fr));
			@include adaptiveValue("gap", 50, 20);
		}
	}
	// .works__content
	&__content {
		@media (max-width: $tablet) {
			&:not(:last-child) {
				margin-bottom: rem(30);
			}
		}
	}
	// .works__title
	&__title {
	}
	// .works__items
	&__items {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(rem(290), 1fr));
		gap: rem(30);
	}
	// .works__item
	&__item {
	}
	// .works__image
	&__image {
		display: flex;
		justify-content: flex-end;
		& img {
			max-width: 100%;
			height: auto;
			object-fit: cover;
		}
		@media (max-width: $tablet) {
			justify-content: center;
		}
	}
}
.item-work {
	display: grid;
	grid-template-columns: rem(65) 1fr;
	gap: rem(15);
	align-items: center;
	@media (min-width: $mobile) {
		padding: rem(10);
	}
	// .item-work__img
	&__img {
		width: rem(65);
		height: rem(65);
		display: flex;
		align-items: center;
		justify-content: center;
	}
	// .item-work__title
	&__title {
		@include adaptiveValue("font-size", 24, 18);
		font-weight: 700;
		text-transform: uppercase;
	}
	// .item-work__text
	&__text {
		grid-column: 1 / span 2;
		color: $colorText;
		font-size: rem(18);
		line-height: 1.4;
	}
}
